<h2 class="change-pwd-header" mat-dialog-title>Change Password</h2>
<mat-dialog-content class="mat-typography">
    <form style="width: 400px" name="loginForm" [formGroup]="changForm" fxLayout="column" (ngSubmit)="submit()" class="p-20" novalidate>
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" formControlName="current_password">
        <mat-error>
            Old Password is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="new_password">
        <mat-error>
            Old Password is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
        <mat-error *ngIf="changForm.hasError('notSame')">
            Passwords do not match
        </mat-error>
    </mat-form-field>
    <div fxLayout="row">
        <button style="height: 40px" fxFlexOffset="10" fxFlex="30" mat-raised-button color="primary" class="submit-button m-10" aria-label="LOGIN"
            [disabled]="changForm.invalid">
        Save
        </button>
        <button style="height: 40px" fxFlexOffset="20" fxFlex="30"  mat-raised-button color="primary"
                class="submit-button m-10" aria-label="LOGIN" (click)="cancel()"
            [disabled]="changForm.invalid">
        Cancel
        </button>
    </div>

</form>
</mat-dialog-content>

