.change-pwd-header {
    background: #75a6c9;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px;
}

.Change-Password {
  height: 29px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.mat-dialog-container{
    padding: 0px!important;
    overflow-x: hidden;
}