<div class="reset-pwd"  fxLayout="column">
    <div id="form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="form-header">
                <img class="avatar big" src="assets/images/logos/fuse.svg">
            </div>

            <div class="description">
                <div class="YOUR-SESSION-WAS-LOCKED">FORGOT PASSWORD</div>
                <div class="Enter-your-password-to-return-to-your-session">
                    Please enter your email where we will send link.
                </div>
            </div>
            <form name="lockForm" [formGroup]="sendMailForm" novalidate (ngSubmit)="submit()">
                <div fxLayout="column">
                     <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error *ngIf="sendMailForm.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error
                            *ngIf="!sendMailForm.get('email').hasError('required') &&
                                    sendMailForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="error" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>

                <button mat-raised-button class="submit-button" color="primary"
                        aria-label="UNLOCK" [disabled]="sendMailForm.invalid">
                    SEND
                </button>
                <button mat-raised-button class="submit-button" color="primary" (click)="back()">
                    BACK
                </button>
            </form>

        </div>
    </div>
</div>