<div class="p-60 page-layout simple fullwidth">
    <div fxLayout="row">
        <div  fxFlex="70">
            <div class="title">Setting</div>
            <div>
                <div>
                    <div class="sub-title">
                        Basic info
                    </div>
                    <div class="border"></div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="40">
                        <div class="avatar-panel" >
                            <img class="profile-image avatar" src="assets/images/avatars/Velazquez.jpg">
                        </div>
                        <div style="text-align: center">
                            <a>Change Photo</a>
                        </div>
                    </div>
                    <div fxFlex="60">
                        <form class="p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                             name="baseForm" [formGroup]="baseForm" (ngSubmit)="submitBaseForm()">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>First name</mat-label>
                                    <input matInput formControlName="first_name" required>
                                    <mat-error>First Name is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Last name</mat-label>
                                    <input matInput formControlName="last_name" required>
                                    <mat-error>Last Name is required!</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>Role</mat-label>
                                    <input matInput formControlName="role" required>
                                    <mat-error>Role is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Initials</mat-label>
                                    <input matInput formControlName="initials" required>
                                    <mat-error>Initials is required!</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4" disabled>
                                    <mat-label>E-Mail Address</mat-label>
                                    <input matInput formControlName="email" required>
                                    <mat-error>E-Mail required!</mat-error>
                                </mat-form-field>
                            </div>
                            <button mat-raised-button color="primary" [disabled]="baseForm.invalid">
                                Save Change
                            </button>
                    </form>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="sub-title">
                        Security
                    </div>
                    <div class="border"></div>
                </div>
                <div fxLayout="row">
                    <div fxFlexOffset="40" fxFlex="60" class="p-24 mr-24">
                        <form name="baseForm" [formGroup]="secureForm">
                            <div style="display: flex; flex-direction: column">
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-form-field fxFlex="50" appearance="outline" style="transform: translate(10px, 10px);">
                                        <mat-label>Password</mat-label>
                                        <input value="test1423" matInput type="password" formControlName="password">
                                        <mat-error>
                                            Password is required
                                        </mat-error>
                                    </mat-form-field>
                                    <button fxFlexOffset="10" fxFlex="40" mat-raised-button color="primary" class="change-pwd"  (click)="changePwd()">
                                        Change Password
                                    </button>
                                </div>
                                <div style="padding-left: 20px; color: #465f86">
                                    <span> Last password change:</span><br>
                                    <span>{{user.pwd_updated | date: 'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="sub-title">
                        Emergency contact
                    </div>
                    <div class="border"></div>
                </div>
                <div fxLayout="row">
                    <div fxFlexOffset="40" fxFlex="60">
                        <form class="p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                              name="emergencyForm" [formGroup]="emergencyForm" (ngSubmit)="submitEmergencyForm()">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>First Name</mat-label>
                                    <input matInput formControlName="emergency_first_name" required>
                                    <mat-error>First Name is required!</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput formControlName="emergency_last_name" required>
                                    <mat-error>Last Name is required!</mat-error>
                                </mat-form-field>
                            </div>
                            <button mat-raised-button color="primary" [disabled]="emergencyForm.invalid">
                                Save Change
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="30">
            storage
        </div>
    </div>
</div>