<div class="reset-pwd"  fxLayout="column">
    <div id="form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="form-header">
                <img class="avatar big" src="assets/images/logos/fuse.svg">
            </div>

            <div class="description">
                <div class="YOUR-SESSION-WAS-LOCKED">RESET PASSWORD</div>
                <div class="Enter-your-password-to-return-to-your-session">
                    Please enter your new password here.
                </div>
            </div>
            <form name="lockForm" [formGroup]="resetPwdForm" novalidate (ngSubmit)="submit()">
                <div fxLayout="column">
                     <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="new_password">
                        <mat-error>
                            Password is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="resetPwdForm.hasError('notSame')">
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="error" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>

                <button mat-raised-button class="submit-button" color="primary"
                        aria-label="UNLOCK" [disabled]="resetPwdForm.invalid">
                    RESET
                </button>
            </form>

        </div>
    </div>
</div>